
.Housekeeper {
  text-align: center;
  margin-top: 50px;
}

.Housekeeper-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.Housekeeper-list h2 {
  margin-bottom: 20px;
}

.Housekeeper-list ul {
  list-style-type: none;
  padding: 0;
}

.Housekeeper-list li {
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Housekeeper-name {
  font-weight: bold;
}

.work-assignment {
  float: right;
  color: #666;
}
