
/* Header Styles */
.header {
  background-color: #f1c568;
  color: #fff;
  text-align: center;
  padding: 8px;
}


/* Sidebar Styles */
.sidebar {
  background-color:#02311e;
  padding: 25px;
  width: 150px;
  height: 100%;
  position: fixed;
  top: 85px;
  left: 0; 
}


.sidebar .navbar a {
  display: block;
  color: #bfef12;
  text-decoration: none;
  margin-top:25px; 
  margin-bottom: 25px;
}


.sidebar .navbar a:hover {
  text-decoration: underline;
}


/* Resetting default styles */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

